{% extends 'layout.html' %}
{% block head %}
	<link rel="stylesheet" href="/static/css/registration.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message.message }}
                {% endfor %}
            </div>
        {% endif %}
        <h1>Add a new cooment</h1>

        <form class="form-horizontal" action="." method="post">
            <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-default btn-lg" type="submit" value="Add">
            </div>
        </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}