{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}

<br><br><br>
<div class="container">
	{% block search %}
		<form class="form-horizontal" action="{% url 'main.views.views.search_results' %}" method="post">
		    <div>
		    {% csrf_token %}
		    {{ form }}
			<button class="btn btn-default" type="submit">
				<i class="fa fa-search fa-fw"></i>
				<span class="network-name">Search</span>
			</button>
		    </div>
		</form>
	{% endblock %}

    <!--======================================================================-->
    <!-- Begin Mustache Template. Verbatim tells django to ignore this so the Mustache.js delimiters can work -->
    {% verbatim %}
    <script id='template' type='x-tmpl-mustache'>  
        <div class='col-md-6'>
            <br>
            <br>
            <h3>Recent Posts</h3>
            
                {{#.}}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">By <a href='/user/{{#owner}}{{id}}'>{{username}}</a>{{/owner}}
                    @<a href='/user/{{#recipient}}{{id}}'>{{username}}</a>{{/recipient}}</h4>
                  </div>
                  <div class="panel-body">
                        <b>{{ title }}</b><br>
                        "{{ body }}"<br>
                        <hr>
                        Posted: {{ date }}
                  </div>
                </div>
                {{/.}}
            
        </div>
    </script>

    {% endverbatim %}
    <!-- end mustache template -->
    <!--======================================================================-->
    <div id='posts'></div>
</div>

{% endblock %}

{% block javascript %}
<!--Begin javascript to grab the django api posts-->
<script type='text/javascript'>
    var focus;
    var interval;

    function getPosts(){
        if (focus) {
            interval = setInterval(function(){ loadData() }, 3000);
        } else {
            clearInterval(interval);
        }
    }

    function loadData() {
        $.getJSON("{% url 'api_post_list' user.pk %}", function(json) {
            console.log(json);
            var template = $('#template').html();
            Mustache.parse(template);
            var rendered = Mustache.render(template, json);
            $('#posts').html(rendered);
        });
    }

    $(document).ready(function(){
        loadData();
        $(window).focus(function(){
            focus = true;
            getPosts();
        })
        .blur(function(){
            focus = false;
            getPosts();
        })
    });

</script>
{% endblock %}