{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}


<div class="container">

    <!--======================================================================-->
    <!-- Begin Mustache Template. Verbatim tells django to ignore this so the Mustache.js delimiters can work -->
    {% verbatim %}
    <script id='posts_template' type='x-tmpl-mustache'>  
        <div class='col-md-6'>
            <br>
            <br>
            <h3>Recent Posts</h3>
            
                {{#.}}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">By <a href='/user/{{#owner}}{{id}}'>{{username}}</a>{{/owner}}
                    @<a href='/user/{{#recipient}}{{id}}'>{{username}}</a>{{/recipient}}</h4>
                  </div>
                  <div class="panel-body">
                        <b>{{ title }}</b><br>
                        "{{ body }}"<br>
                        <hr>
                        Posted: {{ date }}
                  </div>
                </div>
                {{/.}}
            
        </div>
    </script>

    <script id='stats_template' type='x-tmpl-mustache'>  
        <div class='col-md-6'>
            <br>
            <br>
            <h3>Statistics</h3>
            
                {{#.}}
                <ul class="list-group">
                  <li class="list-group-item">
                    <h4 class="list-group-item-heading" style="display: inline;">Total Users</h4>
                     <p style="font-size:24px; display: inline; padding-left:275px;">{{ total_users }}</p>
                  </li>
                  <li class="list-group-item">
                     <h4 class="list-group-item-heading" style="display: inline;">Total Corgis</h4> 
                     <p style="font-size:24px; display: inline; padding-left:270px;">{{ total_corgis }}</p>
                  </li>
                  <li class="list-group-item">
                    <h4 class="list-group-item-heading" style="display: inline;">Total Friendships</h4>
                    <p style="font-size:24px; display: inline; padding-left:230px;">{{total_friendships}}</p>
                  </li>
                  <li class="list-group-item">
                    <h4 class="list-group-item-heading" style="display: inline;">Pending Friendships</h4>
                    <p style="font-size:24px; display: inline; padding-left:220px;">{{pending_friendships}}</p>
                  </li>
                </ul>
                {{/.}}
            
        </div>
    </script>

    {% endverbatim %}
    <!-- end mustache template -->
    <!--======================================================================-->
    <div id='posts'></div>
    <div id='stats'></div>
</div>

{% endblock %}

{% block javascript %}
<!--Begin javascript to grab the django api posts-->
<script type='text/javascript'>
    var focus;
    var interval;

    function getPosts(){
        if (focus) {
            interval = setInterval(function(){ loadData() }, 1000);
        } else {
            clearInterval(interval);
        }
    }

    function loadData() {
        // get recent posts
        $.getJSON("{% url 'api_post_list' user.pk %}", function(json) {
            console.log(json);
            var template = $('#posts_template').html();
            Mustache.parse(template);
            var rendered = Mustache.render(template, json);
            $('#posts').html(rendered);
        });

        // get site stats
        $.getJSON("{% url 'api_site_stats' %}", function(json) {
            console.log(json);
            var template = $('#stats_template').html();
            Mustache.parse(template);
            var rendered = Mustache.render(template, json);
            $('#stats').html(rendered);
        });
    }

    $(document).ready(function(){
        loadData();
        $(window).focus(function(){
            focus = true;
            getPosts();
        })
        .blur(function(){
            focus = false;
            getPosts();
        })
    });

</script>
{% endblock %}