

{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="/static/css/registration.css">
{% endblock %}

{% block content %}


<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>

                    {% if messages %}
                                <div class="alert alert-danger" role="alert">
                                    {% for message in messages %}
                                        {{ message.message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <h1>Log In</h1>

                            <form class="form-horizontal" action="{% url 'main.views.login.user_login' %}" method="post">
                                <div class="form-group">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-default btn-lg" type="submit" value="Login">
                                </div>
                            </form>


                            </div>
                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                <img class="img-responsive" align="right" src="{% static 'img/corgis2.jpg' %}" alt="">
                            </div>
                        </div>
                            <hr class="section-heading-spacer">

        </div>
        <!-- /.container -->





{% endblock %}